html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: sans-serif;
}

body {
  margin: 0 auto;
  max-width: 1000px;
  height: 100%;
}
body header {
  margin: 0;
  padding: 10px;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body header .scoreboard::before {
  content: attr(data-points) " ";
}
body header .gameboard {
  height: 30px;
  padding: 0 10px;
  text-align: center;
}
body .gamefield {
  position: relative;
  width: 100%;
  height: 90%;
  min-height: 200px;
  max-height: calc(100% - 70px);
  padding: 0 20%;
  box-sizing: border-box;
  background-image: url(../../public/images/sky9.jpg);
  background-size: 100% 100%;
}
body .gamefield .startButton {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 10px 40px;
  cursor: pointer;
  border: none;
  border-radius: 30px;
  background-color: rgb(167, 159, 194);
  font-size: 20px;
  text-align: center;
  transform: translate(-50%, -50%);
}
body .gamefield .startButton:hover {
  background-color: #ddd;
}
body .gamefield .bubble_Container {
  display: inline-block;
  width: 20%;
  height: 100%;
  overflow: hidden;
}
body .gamefield .bubble {
  width: 50px;
  height: 100px;
  background: url(../../public/images/balloon1.webp) no-repeat center center;
  background-size: 100% auto;
  transition: top 0.4s;
  position: relative;
  top: 100%;
}
body .gamefield .up > .bubble {
  top: 5px;
}
body .gamefield .boom > .bubble {
  background-image: url(../../public/images/boom.png);
}

footer {
  padding: 10px;
  text-align: center;
}